<div class="mdl-grid">
  <div class="gaussElim mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-card mdl-shadow--4dp mdl-color--blue-50">
    <form id="gaussElimForm" action="/methods/eqsystem/gausselimination2" method="POST">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Gaussian elimination</h2>
      </div>
      <div class="mdl-card__supporting-text">
        
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="A" name="A" value="<%= $a.to_s%>">
          <label class="mdl-textfield__label" for="A">A</label>
        </div>
        <div class="mdl-tooltip" for="A">
          Example:
          <br>[[3,-2,5], [1,2,-1], [-2,-1,1]]
        </div>
        
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="b" name="b" value="<%= $b.to_s%>">
          <label class="mdl-textfield__label" for="b">b</label>
        </div>
        <div class="mdl-tooltip" for="b">
          Example:
          <br>[-4,3,0]
        </div>
        
      </div>
      <div class="botones mdl-card__actions mdl-card--border ">
        <button id="btn_accept" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
          <i class="material-icons">done</i> Accept
        </button>
      </div>
    </form>
  </div>
  <table class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <% cont = 0 %>
        <% while cont < $n do %>
        <th><%= "x#{cont}" %></th>
        <% cont += 1 %>
        <%  end %>
        <th>b</th>
      </tr>
    </thead>
    <tbody>
        
      <% n = $b.size
        i = 0
        while i < n do %>
          <tr>
            <% j = 0
              fila = $a[i] %>
            <%while j < n do %>
              <td><%= fila[j] %></td>
              <% j += 1 %>
            <%end %>
              <td><%= $b[i] %></td>
            <% i += 1 %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="mdl-grid">
  <table class="mdl-cell mdl-cell--8-col  mdl-cell--4-col-phone mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <% cont = 0 %>
        <% while cont < $n do %>
        <th><%= "" %></th>
        <% cont += 1 %>
        <%  end %>
      </tr>
    </thead>
    <tbody>
      <% n = $b.size
        i = 0
        while i < n do %>
          <tr>
            <% j = 0
              fila = $a2[i] %>
            <%while j < n do %>
              <td><%= fila[j] %></td>
              <% j += 1 %>
            <%end %>
            <% i += 1 %>
          </tr>
      <% end %>
    </tbody>
  </table>
  <table class="mdl-cell mdl-cell--2-col  mdl-cell--4-col-phone mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>x</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      <% $xs.each_with_index do |x,i| %>
        <tr>
          <td>
            <%="x#{i}"%>
          </td>
          <td>
            <%=$xs[i]%>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <table class="mdl-cell mdl-cell--2-col  mdl-cell--4-col-phone mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>b</th>
      </tr>
    </thead>
    <tbody>
      <% $b.each_with_index do |x,i| %>
        <tr>
          <td>
            <%=$b[i]%>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
